/* head */
.headContainer {
    padding: 180px 0 140px;
    position: relative;
}
.headTitle {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}
.headDescription {
    padding-top: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 2rem;
    position: relative;
    z-index: 1;
}
.headButton {
    padding-top: 50px;
    position: relative;
    z-index: 1;
}
.headImg {
    position: absolute;
    top: 170px;
    right: 0;
    width: 586px;
}

/* intro */
.introContainer {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 230px 0 140px;
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
}
.introDescription {
    width: 420px;
}
.introDescription h2 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}
.introDescription p {
    font-weight: bold;
    font-size: 14px;
    line-height: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 1em 0 0;
}
.introImg {
    width: 490px;
    padding-right: 10px;
    box-sizing: content-box;
}

/* plan */
.planContainerWrapper {
    padding-bottom: 210px;
}
.planContainer {
    background: #fff;
    border-radius: 18px;
    position: relative;
    height: 780px;
}
.planTitle {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    padding: 40px 0 50px;
}
.planBalloonWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    width: 100%;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
}
.planBalloon {
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: calc(50% - 15px);
    padding: 0 0 140px;
    position: relative;
    z-index: 0;
}
.planName {
    background: #FFAF5F;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 28px;
    padding: 30px 0;
    margin: 10px;
    font-weight: bold;
}
.planPriceWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #FFAF5F;
}
.planPriceLabel {
    display: inline-block;
    background: #FFAF5F;
    color: #fff;
    border-radius: 50px;
    padding: 3px 14px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 28px;
}
.planPriceValue {
    position: relative;
    color: #FFAF5F;
    font-weight: bold;
}
.planPriceMonthly {
    font-size: 16px;
    position: absolute;
    top: 14px;
    left: 0;
}
.planPriceMark {
    font-size: 48px;
}
.planPriceMark span {
    font-size: 76px;
}

.serviceList {
    padding: 0 30px;
}
.serviceItem:first-child {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #FFAF5F;
    padding: 20px 0 0;
}
.serviceItem:not(:first-child) {
    font-weight: bold;
    color: #999999;
    padding: 1em 0px 0px 1em;
}
.serviceItem:not(:first-child)::before {
    content: "・";
}
.planRegisterButton {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 100%;
}

/* question */
.questionWrapper {
    padding: 130px 0 150px;
}
